body {
  display: grid;
  min-height: 100vh;
  /* font-size: 13px; */
  background: var(--light-grayish-blue);
  place-items: center;
}

.wrapper {
  display: flex;
  width: 50%;
  height: 45%;
  background: var(--white);
  overflow: hidden;
  border-radius: 10px;
}

.wrapper .imgSection {
  width: 45%;
  height: 100%;
  overflow: hidden;
}

.imgSection > img {
  width: 27rem;
  height: 19rem;
}

.txtSection {
  display: flex;
  width: 55%;
  height: 100%;
  flex-direction: column;
  padding: 5% 5% 3% 5%;
  gap: 8%;
}

.flex {
  font-size: 80%;
}

.flex p {
  color: var(--grayish-blue);
  font-weight: 500;
}

header h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

.imgSection header {
  width: 100%;
  height: 60%;
}

.imgSection .flex,
footer {
  width: 100%;
  height: 20%;
}

footer {
  display: flex;
  gap: 3%;
}

footer .profileIcon,
.shareIcon {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.txtFooter {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.txtFooter .nameSection {
  font-size: 80%;
  font-weight: 700;
}

.txtFooter .dateSection {
  font-size: 70%;
  color: var(--grayish-blue);
  font-weight: 500;
}

footer .profileIcon > img {
  width: 70%;
  height: 80%;
  border-radius: 50%;
}

footer .shareIcon > .circle {
  display: flex;
  width: 60%;
  height: 60%;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  align-items: center;
  justify-content: center;
}

footer .shareIcon > img {
  width: 50%;
  height: 50%;
}

.moreShare {
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: red;
}
